<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mystikcoder.statussaver">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.mystikcoder.statussaver.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/status_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="false"
        android:roundIcon="@mipmap/rect1121"
        android:supportsRtl="true"
        android:theme="@style/Theme.StatusSaverUI"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.mystikcoder.statussaver.ui.activity.TikTokActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.GalleryActivity" />

        <service
            android:name="com.mystikcoder.statussaver.services.ClipTextObserverService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.mystikcoder.statussaver.ui.activity.FacebookLoginActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.VideoPlayActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.MojActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.MxTakaTakActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.MitronActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.ChingariActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.JoshActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.TwitterActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.ShareChatActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.LoginActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.RoposoActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.LikeeActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.WhatsAppActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.FacebookActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.FullImageViewActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.InstagramActivity" />
        <activity android:name="com.mystikcoder.statussaver.ui.activity.HomeActivity"
            android:theme="@style/SplashImage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.measurement.UPLOAD" />
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>